<div class="container">
    <div class="d-flex justify-content-start">
      <div class="d-flex justify-content-start">
        <h4>Cadastro de celular</h4>
      </div>
    </div>
  </div>
  <div class="container p-3">
    <nav aria-label="breadcrumb">
      <button class="btn btn-warning rounded-0" type="button" data-coreui-toggle="modal" data-coreui-target="#modalOpen"><i class="cil-folder-open nav-icon"></i></button>
      <button class="btn btn-success rounded-0" type="button"><i class="cil-print nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-arrow-thick-to-left nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-caret-left nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-caret-right nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-arrow-thick-to-right nav-icon"></i></button>
      <button class="btn btn-danger rounded-0" type="button"><i class="cil-trash nav-icon"></i></button>
      <button class="btn btn-success rounded-0" type="button"><i class="cil-description nav-icon"></i></button>
      <button class="btn btn-info rounded-0" type="button"><i class="cil-chevron-double-down nav-icon"></i></button>
    </nav>
  </div>
  <div class="container">
    <div class="card">
        <div class="card-body">
          <div class="table-responsive p-1">
            <table class="table table-condensed table-responsive">
              <thead>
                <tr>
                  <th>Motivos de Baixa</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>FURTADO</td>
                  <td></td>
                  <td>
                      
                  </td>
                </tr>
                <tr>
                    <td>SUMIDO</td>
                    <td></td>
                    <td>
                        
                    </td>
                  </tr>
                  <tr>
                    <td>TESTE</td>
                    <td></td>
                    <td>
                        
                    </td>
                  </tr>
                  <tr>
                    <td>VENDA</td>
                    <td></td>
                    <td>
                        
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  
  <div class="modal fade" id="modalLiberacao" tabindex="-1" aria-labelledby="modalLiberacao" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title h4 text-white" id="modalLiberacao">Consulta de Liberação</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-12">
            <div class="col-md-6">
              <label for="name">Data</label>
              <input class="form-control" id="inputEmail4" type="date">
            </div>
            <div class="col-md-6">
              <label for="name">Partida</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>RIO</option>
                <option value="1">JFA</option>
                <option value="2">BHZ</option>
                <option value="3">UBA</option>
              </select>
            </div>
            <div class="col-12 p-3">
              <div class="form-check">
                <label class="form-check-label" for="gridCheck">Somente o local indicado</label>
                <input class="form-check-input" id="gridCheck" type="checkbox">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success text-white" type="button" data-coreui-dismiss="modal">Ok</button>
          <button class="btn btn-secondary text-white" type="button" data-coreui-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalConsultaProgramacao" tabindex="-1" aria-labelledby="modalConsultaProgramacao" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title h4 text-white" id="modalConsultaProgramacao">Consulta de Programação</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-12">
            <div class="col-md-5">
              <label for="name">Motorista</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>João Antônio</option>
                <option value="1">Joab</option>
                <option value="2">Renan</option>
                <option value="3">Heyrton</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="name">Data Inicial</label>
              <input class="form-control" id="inputEmail4" type="date">
            </div>
            <div class="col-md-3 justify-content-center">
              <br>
              <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><i class="cil-search nav-icon"></i></button>
            </div>
            <div class="divider p-3"></div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <table class="table table-condensed table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th>Início</th>
                          <th>Fim</th>
                          <th>Orig.</th>
                          <th>Dest.</th>
                          <th>Atividade</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>12:00</td>
                          <td>13:00</td>
                          <td>RIO</td>
                          <td>SAO</td>
                          <td>Normal</td>
                        </tr>
                        <tr>
                          <td>12:00</td>
                          <td>13:00</td>
                          <td>RIO</td>
                          <td>SAO</td>
                          <td>Normal</td>
                        </tr>
                        <tr>
                          <td>12:00</td>
                          <td>13:00</td>
                          <td>RIO</td>
                          <td>SAO</td>
                          <td>Normal</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                  <button class="btn btn-success btn-sm text-white" type="button" data-coreui-dismiss="modal"><i class="cil-check nav-icon"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                    <table class="table table-condensed table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th>Início</th>
                            <th>Fim</th>
                            <th>Orig.</th>
                            <th>Dest.</th>
                            <th>Atividade</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>12:00</td>
                            <td>13:00</td>
                            <td>RIO</td>
                            <td>SAO</td>
                            <td>Normal</td>
                          </tr>
                          <tr>
                            <td>12:00</td>
                            <td>13:00</td>
                            <td>RIO</td>
                            <td>SAO</td>
                            <td>Normal</td>
                          </tr>
                          <tr>
                            <td>12:00</td>
                            <td>13:00</td>
                            <td>RIO</td>
                            <td>SAO</td>
                            <td>Normal</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-success btn-sm text-white" type="button" data-coreui-dismiss="modal"><i class="cil-check nav-icon"></i></button>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
                    <table class="table table-condensed table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th>Início</th>
                            <th>Fim</th>
                            <th>Orig.</th>
                            <th>Dest.</th>
                            <th>Atividade</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>12:00</td>
                            <td>13:00</td>
                            <td>RIO</td>
                            <td>SAO</td>
                            <td>Normal</td>
                          </tr>
                          <tr>
                            <td>12:00</td>
                            <td>13:00</td>
                            <td>RIO</td>
                            <td>SAO</td>
                            <td>Normal</td>
                          </tr>
                          <tr>
                            <td>12:00</td>
                            <td>13:00</td>
                            <td>RIO</td>
                            <td>SAO</td>
                            <td>Normal</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-success btn-sm text-white" type="button" data-coreui-dismiss="modal"><i class="cil-check nav-icon"></i></button>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modalOpen" tabindex="-1" aria-labelledby="modalOpen" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title h4 text-white" id="modalOpen">Pesquisa</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-12">
            <div class="col-md-6">
                <label for="name">Localizador</label>
                <input class="form-control" id="inputEmail4" type="text">
            </div>
            <div class="col-md-6">
                <label for="name">IMEI</label>
                <input class="form-control" id="inputEmail4" type="text">
            </div>
            <div class="col-md-6">
                <label for="name">Regional</label>
                <select class="form-select" id="autoSizingSelect">
                    <option selected>RIO DE JANEIRO</option>
                    <option value="1">JUIZ DE FORA</option>
                    <option value="2">BELO HORIZONTE</option>
                    <option value="3">SAO PAULO</option>
                  </select>
            </div>
            <div class="col-md-6">
                <label for="name">NOP</label>
                <select class="form-select" id="autoSizingSelect">
                    <option selected>Util</option>
                    <option value="1">Brisa</option>
                    <option value="2">Sampaio</option>
                    <option value="3">Real Expresso</option>
                  </select>
            </div>
            <div class="col-md-12">
              <label for="name">Local</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>RIO</option>
                <option value="1">JDF</option>
                <option value="2">BHZ</option>
                <option value="3">SAO</option>
              </select>
            </div>
            <div class="col-md-5">
              <label for="name">Motorista</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>Joab Ferreira</option>
                <option value="1">Heyrton</option>
                <option value="2">Renan</option>
                <option value="3">Luiz</option>
              </select>
            </div>
            <div class="col-md-5">
                <label class="form-check-label text-white" for="gridCheck">Somente celulares ativos</label>
                <input class="form-check-input" id="gridCheck" type="checkbox">
              </div>
            <div class="col-md-2 justify-content-center">
              <br>
              <button class="btn btn-secondary text-white" type="button" data-coreui-dismiss="modal"><i class="cil-search nav-icon"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>