.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(0, 0, 0);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
mat-expansion-panel-header:hover {
    background-color: currentColor
}

.backgroundPainelLido{
	background-color: #EFFBF2;
}
.backgroundPainelNaoLido{
	background-color: #FBEFEF;
}

.container .arrow {
	width: 12px;
	height: 20px;
	overflow: hidden;
	position: relative;
	float: left;
	top: 6px;
	right: -1px;
  }
  
  .containerMensagem .arrow .outer {
	width: 0;
	height: 0;
	border-right: 20px solid #000000;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .containerMensagem .arrow .inner {
	width: 0;
	height: 0;
	border-right: 20px solid #ffffff;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 0;
	left: 2px;
  }
  
  .containerMensagem .message-body {
	float: left;
	width: 500px;
	height: auto;
	border: 1px solid #CCC;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 6px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
  }
  
  .containerMensagem .message-body p {
	margin: 0;
  }