  <div class="container-fluid" style="margin-bottom: 80px; margin-top: 30px;">
    <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <button type="button" class="btn btn-info" (click)="novaPergunta(templatePergunta)">
              &nbsp; + Nova pergunta
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-info">
        <h5 class="text-light">Cadastro de Pergunta</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped table-sm">
          <thead class="table-bordered">
            <tr>
              <th>Título</th>
              <th>Descrição</th>
              <th>Imagem</th>
              <th>Opcao1</th>
              <th>Opcao2</th>
              <th>Opcao3</th>
              <th>Resposta</th>
              <th>Ponto</th>
              <th>Nivel</th>
              <th>Status</th>
              <th>Categoria</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="perguntas && perguntas.length">
            <tr *ngFor="let pergunta of perguntas">
              <td>{{pergunta.titulo}}</td>
              <td>{{pergunta.descricao}}</td>
              <td><img src="{{pergunta.imagem}}" class="rounded-circle" width="70" height="70"/></td>
              <td>{{pergunta.opcao1}}</td>
              <td>{{pergunta.opcao2}}</td>
              <td>{{pergunta.opcao3}}</td>
              <td>{{pergunta.resposta}}</td>
              <td>{{pergunta.ponto}}</td>
              <td>{{pergunta.idNivel}}</td>
              <td>{{pergunta.status}}</td>
              <td>{{pergunta.categoria}}</td>
              <td>
                <!-- <button tooltip="Editar informações" style="margin-right: 10px;" type="button" class="btn btn-outline-info btn-sm" (click)="editarPergunta(pergunta, template)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M3.5 3.75a.25.25 0 01.25-.25h13.5a.25.25 0 01.25.25v10a.75.75 0 001.5 0v-10A1.75 1.75 0 0017.25 2H3.75A1.75 1.75 0 002 3.75v16.5c0 .966.784 1.75 1.75 1.75h7a.75.75 0 000-1.5h-7a.25.25 0 01-.25-.25V3.75z"></path><path d="M6.25 7a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm-.75 4.75a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-4.5a.75.75 0 01-.75-.75zm16.28 4.53a.75.75 0 10-1.06-1.06l-4.97 4.97-1.97-1.97a.75.75 0 10-1.06 1.06l2.5 2.5a.75.75 0 001.06 0l5.5-5.5z"></path></svg>
                </button> -->

                <button tooltip="Excluir item" type="button" class="btn btn-outline-danger btn-sm" (click)="deletePergunta(pergunta, confirm)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="perguntas == 0" class="card-footer">
      <div class="text-center">
        <h5>Não foram encontrados simuladores cadastrados</h5>
      </div>
    </div>
  </div>

  <div bsModal #templatePergunta="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <!-- <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{nome}}</h4>
          <button type="button" class="close pull-right" (click)="templatePergunta.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Titulo</label>
              <input type="text" class="form-control" required
              [ngClass]="{'is-invalid': registerForm.get('titulo').errors && registerForm.get('titulo').touched}"
              formControlName="titulo"
              placeholder="Titulo"
              >
              <div *ngIf="registerForm.get('titulo').hasError('required')" class="invalid-feedback">
                Titulo é obrigatório
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Imagem</label>
              <input type="text" class="form-control" required
              [ngClass]="{'is-invalid': registerForm.get('imagem').errors && registerForm.get('imagem').touched}"
              formControlName="imagem"
              placeholder="Imagem"
              >
              <div *ngIf="registerForm.get('imagem').hasError('imagem')" class="invalid-feedback">
                Imagem é obrigatória
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label>Descrição</label>
            <input type="text" class="form-control" required
            [ngClass]="{'is-invalid': registerForm.get('descricao').errors && registerForm.get('descricao').touched}"
            formControlName="descricao"
            placeholder="Descricao"
            >
            <div *ngIf="registerForm.get('descricao').hasError('descricao')" class="invalid-feedback">
              Descrição é obrigatório
            </div>
            <div *ngIf="registerForm.get('descricao').hasError('minlength')" class="invalid-feedback">
              Descrição tem que ter mais de 5 letras
            </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Opção 1</label>
                <input type="text" class="form-control" required
                [ngClass]="{'is-invalid': registerForm.get('opcao1').errors && registerForm.get('opcao1').touched}"
                formControlName="opcao1"
                placeholder="Primeira opção"
                >
                <div *ngIf="registerForm.get('opcao1').hasError('opcao1')" class="invalid-feedback">
                  Obrigatório
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Opção 2</label>
                <input type="text" class="form-control" required
                [ngClass]="{'is-invalid': registerForm.get('opcao2').errors && registerForm.get('opcao2').touched}"
                formControlName="opcao2"
                placeholder="Segunda opção"
                >
                <div *ngIf="registerForm.get('opcao2').hasError('opcao2')" class="invalid-feedback">
                  Obrigatório
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Opção 3</label>
                <input type="text" class="form-control" required
                [ngClass]="{'is-invalid': registerForm.get('opcao3').errors && registerForm.get('opcao3').touched}"
                formControlName="opcao3"
                placeholder="Terceira opção"
                >
                <div *ngIf="registerForm.get('opcao3').hasError('opcao3')" class="invalid-feedback">
                  Obrigatório
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Resposta</label>
                <input type="text" class="form-control" required
                [ngClass]="{'is-invalid': registerForm.get('resposta').errors && registerForm.get('resposta').touched}"
                formControlName="resposta"
                placeholder="Quarta opção"
                >
                <div *ngIf="registerForm.get('resposta').hasError('resposta')" class="invalid-feedback">
                  Obrigatório
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Pontos</label>
                <select
                    class="form-control"
                    [ngClass]="{'is-invalid': registerForm.get('ponto').errors && registerForm.get('ponto').touched}"
                    formControlName="ponto"
                  >
                  <option value=1>1 ponto</option>
                  <option value=2>2 ponto</option>
                  <option value=3>3 ponto</option>
                </select>
                <div class="invalid-feedback">
                  É obrigatório
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Nivel</label>
                  <select
                    class="form-control"
                    [ngClass]="{'is-invalid': registerForm.get('idNivel').errors && registerForm.get('idNivel').touched}"
                    formControlName="idNivel"
                  >
                  <option value="{{id}}">{{id}}</option>
                </select>
                <div *ngIf="registerForm.get('idNivel').hasError('idNivel')" class="invalid-feedback">
                  É obrigatório
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Status</label>
                <select
                    class="form-control"
                    [ngClass]="{'is-invalid': registerForm.get('status').errors && registerForm.get('status').touched}"
                    formControlName="status"
                  >
                  <option value=1>Ativo</option>
                  <option value=0>Inativo</option>
                </select>
                <div *ngIf="registerForm.get('status').hasError('status')" class="invalid-feedback">
                  É obrigatório
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>Categoria</label>
                <select
                    class="form-control"
                    [ngClass]="{'is-invalid': registerForm.get('categoria').errors && registerForm.get('categoria').touched}"
                    formControlName="categoria"
                  >
                  <option value="manutencao" selected>Manutenção</option>
                    <option value="operacao" selected>Operação</option>
                    <option value="inspetoria" selected>Inspetoria</option>
                    <option value="rh" selected>RH</option>
                </select>
                <div *ngIf="registerForm.get('categoria').hasError('categoria')" class="invalid-feedback">
                  É obrigatório
                </div>
              </div>
            </div>
        </form>
        <br>
        <br>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-danger" (click)="templatePergunta.hide()">
          Cancelar
        </button>
        <button type="button" class="btn btn-outline-success" (click)="salvarAlteracao(templatePergunta)" [disabled]="!registerForm.valid">
          Salvar
        </button>
    </div>
    </div>
  </div> -->
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<!-- <div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>
    		<div class="modal-footer btn-group d-flex">
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			Cancelar
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          		Deletar
        		</button>
    		</div>
  		</div>
	</div> -->
</div>

<ngx-spinner></ngx-spinner>