<div class="container-fluid">
    <div class="d-flex justify-content-start">
      <div class="d-flex justify-content-start">
        <h4>Integração DataSul</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid p-3">
    <nav aria-label="breadcrumb">
      <button class="btn btn-warning rounded-0" type="button" data-coreui-toggle="modal" data-coreui-target="#modalOpen"><i class="cil-folder-open nav-icon"></i></button>
      <button class="btn btn-success rounded-0" type="button"><i class="cil-print nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-arrow-thick-to-left nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-caret-left nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-caret-right nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-arrow-thick-to-right nav-icon"></i></button>
      <button class="btn btn-info rounded-0" type="button"><i class="cil-align-right nav-icon"></i></button>
      <button class="btn btn-danger rounded-0" type="button"><i class="cil-trash nav-icon"></i></button>
      <button class="btn btn-success rounded-0" type="button"><i class="cil-library-add nav-icon"></i></button>
      <button class="btn btn-info rounded-0" type="button"><i class="cil-chevron-double-down nav-icon"></i></button>
    </nav>
  </div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive p-1">
            <!-- <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Prog.</th>
                    <th>Atividade</th>
                    <th>Linha</th>
                    <th>Função</th>
                    <th>Apresentação</th>
                    <th>RFID</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Partida</th>
                    <th>Chegada</th>
                    <th>RFID</th>
                    <th>Finalização</th>
                    <th>Observação</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>13/03/2021</td>
                    <td>
                    <select class="form-select" id="autoSizingSelect">
                        <option selected>Atividade</option>
                        <option value="1">Viagem</option>
                    </select>
                    </td>
                    <td>
                    <select class="form-select" id="autoSizingSelect">
                        <option selected></option>
                        <option value="1">Ativ 1</option>
                        <option value="2">Ativ 2</option>
                        <option value="3">Ativ 3</option>
                    </select>
                    </td>
                    <td>
                    <select class="form-select" id="autoSizingSelect">
                        <option selected></option>
                        <option value="1">RIO x JDF</option>
                        <option value="2">RIO x JDF</option>
                        <option value="3">RIO x JDF</option>
                    </select>
                    </td>
                    <td>
                    <select class="form-select" id="autoSizingSelect">
                        <option selected></option>
                        <option value="1">Função 1</option>
                        <option value="2">Função 2</option>
                        <option value="3">Função 3</option>
                    </select>
                    </td>
                    <td>11/10/2019 09:00</td>
                    <td>01010101</td>
                    <td>RIO</td>
                    <td>JDF</td>
                    <td>13/03/1991 11:00</td>
                    <td>13/03/1991 11:00</td>
                    <td>010101</td>
                    <td>13/03/1991 11:00</td>
                    <td>Teste</td>
                    <td>
                    <button class="btn btn-success rounded-0 btn-sm" type="button"><i class="cil-check nav-icon"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>13/03/2021</td>
                    <td>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Atividade</option>
                            <option value="1">Viagem</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected></option>
                            <option value="1">Ativ 1</option>
                            <option value="2">Ativ 2</option>
                            <option value="3">Ativ 3</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected></option>
                            <option value="1">RIO x JDF</option>
                            <option value="2">RIO x JDF</option>
                            <option value="3">RIO x JDF</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected></option>
                            <option value="1">Função 1</option>
                            <option value="2">Função 2</option>
                            <option value="3">Função 3</option>
                        </select>
                    </td>
                    <td>11/10/2019 09:00</td>
                    <td>01010101</td>
                    <td>RIO</td>
                    <td>JDF</td>
                    <td>13/03/1991 11:00</td>
                    <td>13/03/1991 11:00</td>
                    <td>010101</td>
                    <td>13/03/1991 11:00</td>
                    <td>teste</td>
                    <td>
                        <button class="btn btn-success rounded-0 btn-sm" type="button"><i class="cil-check nav-icon"></i></button>
                    </td>
                    </tr>
                </tbody>
            </table> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalOpen" tabindex="-1" aria-labelledby="modalOpen" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title h4 text-white" id="modalOpen">Nova Pesquisa</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-12">
            <div class="col-md-6">
              <label for="name">Data Inicial</label>
              <input class="form-control" id="inputEmail4" type="date">
            </div>
            <div class="col-md-6">
              <label for="name">Data Final</label>
              <input class="form-control" id="inputEmail4" type="date">
            </div>
            <div class="col-md-12">
              <label for="name">Base Operacional</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>RIO DE JANEIRO</option>
                <option value="1">JUIZ DE FORA</option>
                <option value="2">BRASILIA</option>
                <option value="3">BELO HORIZONTE</option>
              </select>
            </div>
            <div class="col-md-12">
                <label for="name">Motorista</label>
                <select class="form-select" id="autoSizingSelect">
                  <option selected>João Antônio</option>
                  <option value="1">Joab</option>
                  <option value="2">Renan</option>
                  <option value="3">Heyrton</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="name">Arquivo</label>
              <input class="form-control" id="inputEmail4" type="file">
              </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-success text-white" type="button" data-coreui-dismiss="modal">Ok</button>
          <button class="btn btn-secondary text-white" type="button" data-coreui-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>