<div class="container-fluid">
    <div class="d-flex justify-content-start">
      <div class="d-flex justify-content-start">
        <h4>Fechamento de período</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid p-3">
    <nav aria-label="breadcrumb">
      <button class="btn btn-warning rounded-0" type="button" data-coreui-toggle="modal" data-coreui-target="#modalLiberacao"><i class="cil-folder-open nav-icon"></i></button>
      <button class="btn btn-success rounded-0" type="button"><i class="cil-sync nav-icon"></i></button>
      <button class="btn btn-danger rounded-0" type="button"><i class="cil-lock-locked nav-icon"></i></button>
      <button class="btn btn-info rounded-0" type="button" data-coreui-toggle="modal" data-coreui-target="#modalConsultaProgramacao"><i class="cil-list-rich nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button" data-coreui-toggle="modal" data-coreui-target="#modalFiltro"><i class="cil-filter nav-icon"></i></button>
      <button class="btn btn-success rounded-0" type="button"><i class="cil-mobile nav-icon"></i></button>
      <button class="btn btn-warning rounded-0" type="button"><i class="cil-description nav-icon"></i></button>
      <button class="btn btn-secondary rounded-0" type="button"><i class="cil-print nav-icon"></i></button>
    </nav>
  </div>
  <div class="modal fade" id="modalLiberacao" tabindex="-1" aria-labelledby="modalLiberacao" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title h4 text-white" id="modalLiberacao">Fechamenro de período (Ponto)</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                Informe a próxima data de fechamento do período para ingormar o Registro de Ponto. Até a data de fechamento nenhum registro poderá ser inserido ou alterado.
            </div>
            <form class="row g-12">
                <div class="col-md-12">
                <label for="name">Data de Fechamento</label>
                <input class="form-control" id="inputEmail4" type="date">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success text-white" type="button" data-coreui-dismiss="modal">Ok</button>
          <button class="btn btn-secondary text-white" type="button" data-coreui-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>