section {
  display: table;
}

table {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

th.mat-header-cell {
  color: white;
  max-width: 200px;
  background-color: #2a9e51;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:host ::ng-deep .mat-header-row {
  height: 35px;
}

:host ::ng-deep .mat-sort-header-arrow {
  color: white !important;
}

/* MAT ROW COLOR */
.mat-row:nth-child(2n+1) {
  background-color: #00000010;
}

.mat-row:not(:nth-child(2n+1)) {
  background-color: #00000020;
}

mat-label {
  color: rgb(109, 129, 109);
}

.mat-table {
  border-radius: 8px;
  overflow: hidden !important;
}

.mat-form-field {
  width: 100%;
}

/* COLUMNS */
.mat-column-usuario {
  padding: 10px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-column-nome {
  padding: 10px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-column-seqgrupo {
  padding: 10px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-column-acoes {
  text-align: center;
}

/* ROW */
.mat-row {
  cursor: pointer;
  height: 25px;
}

.text-white-b {
  font-size: 18px;
  padding: 16px;
}

.btn-noborder {
  border: none;
}

.mat-cell {
  height: 30px;
}

/* PAGINATOR */
::ng-deep .mat-paginator-page-size-select {
  width: 26px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

::ng-deep .mat-paginator-container {
  background-color: #f7f7f8;
}

/* OTHERS */
.card-body {
  margin-bottom: -16px;
}

.mat-icon-button {
  margin: 3px;
  background-color: rgb(54, 52, 65);
}
