<div class="container" style="margin-bottom: 80px; margin-top: 30px;">
    <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Cadastro de Contato de empresa</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="novoContatoEmpresa(templateContatoEmpresa)">
              + Novo Contato
            </button>
          </div>
          <!-- <div class="col-sm-6">
            <div class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" [(ngModel)]="filtroLista">
            </div>
          </div> -->
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-sm">
          <thead class="table-bordered">
            <tr>
              <th>#</th>
              <th>Setor</th>
              <th>Número</th>
              <th>Responsável</th>
              <th>Funcionamento</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="contatoEmpresas && contatoEmpresas.length">
            <tr *ngFor="let contatoEmpresa of contatoEmpresas"> <!--para filtrar contatoEmpresas-->
              <td>{{contatoEmpresa.id}}</td>
              <td>{{contatoEmpresa.contatoSetor}}</td>
              <td>{{contatoEmpresa.numeroContato}}</td>
              <td>{{contatoEmpresa.responsavel}}</td>
              <td>{{contatoEmpresa.funcionamento}}</td>
              <td>
                <!-- <button tooltip="Ver todos os itens" style="margin-right: 10px;" type="button" class="btn btn-outline-success btn-sm" (click)="getItens(contatoEmpresa.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.592 2.712L2.38 7.25h4.87a.75.75 0 110 1.5H2.38l-.788 4.538L13.929 8 1.592 2.712zM.989 8L.064 2.68a1.341 1.341 0 011.85-1.462l13.402 5.744a1.13 1.13 0 010 2.076L1.913 14.782a1.341 1.341 0 01-1.85-1.463L.99 8z"></path></svg>
                </button> -->

                <button tooltip="Editar informações" style="margin-right: 10px;" type="button" class="btn btn-outline-info btn-sm" (click)="editarContatoEmpresa(contatoEmpresa, templateContatoEmpresa)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M3.5 3.75a.25.25 0 01.25-.25h13.5a.25.25 0 01.25.25v10a.75.75 0 001.5 0v-10A1.75 1.75 0 0017.25 2H3.75A1.75 1.75 0 002 3.75v16.5c0 .966.784 1.75 1.75 1.75h7a.75.75 0 000-1.5h-7a.25.25 0 01-.25-.25V3.75z"></path><path d="M6.25 7a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm-.75 4.75a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-4.5a.75.75 0 01-.75-.75zm16.28 4.53a.75.75 0 10-1.06-1.06l-4.97 4.97-1.97-1.97a.75.75 0 10-1.06 1.06l2.5 2.5a.75.75 0 001.06 0l5.5-5.5z"></path></svg>
                </button>

                <button tooltip="Excluir simulador" type="button" class="btn btn-outline-danger btn-sm" (click)="deleteContatoEmpresas(contatoEmpresa, confirmDeleteModal)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="contatoEmpresas == 0" class="card-footer">
        <div class="text-center">
          <h5>Não foram encontrados contatos de Empresa cadastrados</h5>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #templateContatoEmpresa="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Cadastro">
    <!-- <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Cadastro de Contatos de empresas</h4>
          <button type="button" class="close pull-right" (click)="templateContatoEmpresa.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col">
            <form [formGroup]="registerForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Nome do setor</label>
                  <input type="text" class="form-control" required
                    [ngClass]="{'is-invalid': registerForm.get('contatoSetor').errors && registerForm.get('contatoSetor').touched}"
                    placeholder="Qual setor?"
                    minlength="1"
                    formControlName="contatoSetor"
                    >
                  <div *ngIf="registerForm.get('contatoSetor').hasError('required')" class="invalid-feedback">
                    O nome é obrigatório
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Número de contato</label>
                  <input type="text" class="form-control" required
                    [ngClass]="{'is-invalid': registerForm.get('numeroContato').errors && registerForm.get('numeroContato').touched}"
                    placeholder="Nome do responsável"
                    minlength="1"
                    formControlName="numeroContato"
                    >
                  <div *ngIf="registerForm.get('numeroContato').hasError('required')" class="invalid-feedback">
                    O nome é obrigatório
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Nome do responsável</label>
                  <input type="text" class="form-control" required
                    [ngClass]="{'is-invalid': registerForm.get('responsavel').errors && registerForm.get('responsavel').touched}"
                    placeholder="Nome do responsável"
                    minlength="1"
                    formControlName="responsavel"
                    >
                  <div *ngIf="registerForm.get('responsavel').hasError('required')" class="invalid-feedback">
                    O nome é obrigatório
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Horário de funcionamento</label>
                  <input type="text" class="form-control" required
                    [ngClass]="{'is-invalid': registerForm.get('funcionamento').errors && registerForm.get('funcionamento').touched}"
                    placeholder="Horário de funcionamento"
                    minlength="1"
                    formControlName="funcionamento"
                    >
                  <div *ngIf="registerForm.get('funcionamento').hasError('required')" class="invalid-feedback">
                    O nome é obrigatório
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="templateContatoEmpresa.hide()">
              Cancelar
            </button>
            <button type="button" class="btn btn-outline-success" (click)="salvarAlteracao(templateContatoEmpresa)" [disabled]="!registerForm.valid">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div bsModal #confirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <!-- <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            Deletando Contato da Empresa
          </h4>
          <button type="button" class="close pull-right" (click)="confirmDeleteModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{bodyDeletarEvento}}</p>
        </div>
        <div class="modal-footer btn-group d-flex">
          <button type="button" class="btn btn-outline-primary" (click)="confirmDeleteModal.hide()">
            Cancelar
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirmDeleteModal)">
            Deletar
          </button>
        </div>
      </div>
    </div> -->
  </div>

<ngx-spinner></ngx-spinner>