<div class="container-fluid">
  <div class="card">
      <img
        src="../../assets/img/logoSigla.png"
        alt="Logo Sistema Sigla"
      />
  </div>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Módulos do Sistema</h2>
        <p>
          Cada módulo tem uma funcionalidade onde o usuário realiza operações
          determinadas. Por exemplo, quando é necessário criar uma viagem,
          deve-se usar o módulo de <b>Coordenação de Viagens</b>.
        </p>
        <p>
          Quando o usuário deseja definir a programação de um motorista, deve-se
          usar o módulo de <b>Escala de Motoristas</b>, e assim por diante. Essa
          interdependência é importante para que não tenha diversos cadastros de
          uma mesma operação em departamentos distintos da empresa.
        </p>
      </div>
      <div class="card">
        <h2>ÚLTIMAS ATUALIZAÇÕES</h2>
        <h5>Atualizado em 02 de Setembro de 2022</h5>
        <div class="fakeimg" style="height: 200px">Image</div>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Sobre a MPLAN</h2>
        <p>
          A MPLAN atua nas áreas de planejamento, otimização de recursos e
          gestão logística operacional com base em seu sistema <b>SIGLA</b>.
        </p>
      </div>
      <div class="card">
        <h3>Módulos do Sistema</h3>
        <div class="fakeimg">Coordenação de Viagens</div>
        <br />
        <div class="fakeimg">Escala de Tripulantes</div>
        <br />
        <div class="fakeimg">Liberação</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
      <br>
    </div>
  </div>
</div>
